p{
    color: #202020;
    width: 900px;
}

body {

    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;   
}

html {
    background-color: #d2bdfb;
    font-size: 16px;   
    font-family: "Open Sans", sans-serif; 
}

h1{
    font-size: 55px; 
    text-align: center;
}
h2{
    font-size: 35px; 
    text-align: center;
}
h3{
    font-size: 20px; 
    text-align: center;
}

a:link, a:visited {
    background-color: #1f0543;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
    
    a:hover, a:active {
    background-color: #140628;
    }

#kickstart{
    font-size: 45px;
    color: #1f0543;
    text-align: center;
}

.headings{
    color: #140628;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
  }
